name: Github Actions Test
run-name: Testing a format check.
on: [push]
jobs:
  Testing-This-Section:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v3
      - name: Run script
        run: python testCheck.py
